[Global]
epoch=30
batch_size=16
grad_norm=1.0
early_stopping={metric='f1'}

[[Fields]]
class = "text"
    [Fields.init]
    name = "text"
    [Fields.init.tokenizer]
    path="data/electra_base"

[[Fields]]
class = "biaffine"
    [Fields.init]
    name = 'tag'
    pad='O'
    is_target = true
    labels = ['B-ARG0', 'B-ARG0-ADV', 'B-ARG0-CND', 'B-ARG0-CRD', 'B-ARG0-MNR', 'B-ARG0-PRD', 'B-ARG0-PSE', 'B-ARG0-PSR',
     'B-ARG0-QTY', 'B-ARG1', 'B-ARG1-CRD', 'B-ARG1-DIS', 'B-ARG1-FRQ', 'B-ARG1-PRD', 'B-ARG1-PSE', 'B-ARG1-PSR',
     'B-ARG1-QTY', 'B-ARG1-TPC', 'B-ARG2', 'B-ARG2-CRD', 'B-ARG2-PRD', 'B-ARG2-PSE', 'B-ARG2-PSR', 'B-ARG2-QTY',
     'B-ARG3', 'B-ARG3-TMP', 'B-ARG4', 'B-ARGM-ADV', 'B-ARGM-BNF', 'B-ARGM-CND', 'B-ARGM-CRD', 'B-ARGM-DGR',
     'B-ARGM-DIR', 'B-ARGM-DIS', 'B-ARGM-EXT', 'B-ARGM-FRQ', 'B-ARGM-LOC', 'B-ARGM-MNR', 'B-ARGM-PRD', 'B-ARGM-PRP',
     'B-ARGM-QTY', 'B-ARGM-T', 'B-ARGM-TMP', 'B-ARGM-TPC', 'B-rel-ADV', 'B-rel-DIS', 'B-rel-EXT', 'B-rel-MNR', 'I-ARG0',
     'I-ARG0-ADV', 'I-ARG0-CND', 'I-ARG0-CRD', 'I-ARG0-MNR', 'I-ARG0-PRD', 'I-ARG0-PSE', 'I-ARG0-PSR', 'I-ARG0-QTY',
     'I-ARG1', 'I-ARG1-CRD', 'I-ARG1-DIS', 'I-ARG1-FRQ', 'I-ARG1-PRD', 'I-ARG1-PSE', 'I-ARG1-PSR', 'I-ARG1-QTY',
     'I-ARG1-TPC', 'I-ARG2', 'I-ARG2-CRD', 'I-ARG2-PRD', 'I-ARG2-PSE', 'I-ARG2-PSR', 'I-ARG2-QTY', 'I-ARG3',
     'I-ARG3-TMP', 'I-ARG4', 'I-ARGM-ADV', 'I-ARGM-BNF', 'I-ARGM-CND', 'I-ARGM-CRD', 'I-ARGM-DGR', 'I-ARGM-DIR',
     'I-ARGM-DIS', 'I-ARGM-EXT', 'I-ARGM-FRQ', 'I-ARGM-LOC', 'I-ARGM-MNR', 'I-ARGM-PRD', 'I-ARGM-PRP', 'I-ARGM-QTY',
     'I-ARGM-T', 'I-ARGM-TMP', 'I-ARGM-TPC', 'I-rel-ADV', 'I-rel-DIS', 'I-rel-EXT', 'I-rel-MNR']

[Dataset]
class = "Corpus"
path="data/ltp-data/srl"
train="train.txt"
validation="valid.txt"
test="test.txt"

    [Dataset.init]
    multi_field = 'tag'

[[Metrics]]
class = "biaffine_crf_span"
    [Metrics.init]
    id2label = 'tag'

[Loss]
class = "biaffine_crf"

[Optimizer]
class = "BertAdamW4CRF"
    [Optimizer.init]
    lr = 1e-4
    crf_lr = 1e-3
    bert_lr = 1e-4

[Scheduler]
class = "LinearLRW"
type = 'step'
warmup_proportion=0.002

[Predictor]
class = "simple"
    [Predictor.init]
    len_field = 'text_len'

[Checkpoint]
directory="checkpoint/ltp_base/srl_crf"
plugins=['best','restore']
best={ metric='f1' }

[Model]
class = "SimpleTagging"

    [Model.init]
    label_num=97
    pretrained="data/electra_base"
    decoder="BiLinearCRF"
    word_base=true
    [Model.init.BiLinearCRF]
    dropout = 0.2
    hidden_size = 300
