###############
# object file #
###############
*.o
*.lo
*.la
*.deps
*.libs

###############
# build       #
###############
build
config.h

###############
# config      #
###############
*.cnf

###############
# output      #
###############
include/
lib/
bin/
lgdpj
lgsrl
otcws
otpos
otner
ltp-model
auto-test.sh

###############
# data file   #
###############
new_ltp_data/
ltp_data/
