###############
# object file #
###############
*.o
*.lo
*.la
*.deps
*.libs

###############
# build       #
###############
build
#config.h

###############
# config      #
###############
*.cnf

###############
# output      #
###############
include/
lib/
bin/
tools/train/lgdpj
tools/train/srl*
tools/train/otcws
tools/train/otpos
tools/train/otner
tools/train/maxent
tools/train/nndepparser
tools/train/Release/
tools/train/Debug/

###############
# data file   #
###############
new_ltp_data/
ltp_data/
ltp_data

##################
# running folder #
##################
dummy/

#########
# CMake #
#########
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#######
# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.swp

doc/_build
!doc/Makefile

#######
# IDE #
#######

# clion (jetbrain-ide)
.idea