###############
# object file #
###############
*.o
*.lo
*.la
*.deps
*.libs

###############
# binary      #
###############
example/genfeature
example/ner
example/par
example/pos
example/srl
example/cws

###############
# result      #
###############
*.result
*.result-fn
*.result-fp

###############
# build       #
###############
build
config.h

###############
# config      #
###############
*.cnf

###############
# tmp         #
###############
*~

###############
# svm         #
###############
svm/ouput/
svm/svm_model/
svm/data/
svm/svm-light-TK-1.2.1/svm_classify
svm/svm-light-TK-1.2.1/svm_learn



###############
# output      #
###############
#include/
lib/
bin/
tools/train/lgdpj
tools/train/lgsrl
tools/train/otcws
tools/train/otpos
tools/train/otner
tools/train/maxent
tools/train/nndepparser

###############
# data file   #
###############
new_ltp_data/
ltp_data/

##################
# running folder #
##################
dummy/

#########
# CMake #
#########
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#######
# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.swp

doc/_build
!doc/Makefile
