[model]
labeled = 1
decoder-name = 2o-sib

[feature]
use-postag-unigram = 0
use-dependency = 1
use-dependency-unigram = 1
use-dependency-bigram = 1
use-dependency-surrounding = 1
use-dependency-between = 1
use-sibling = 1
use-sibling-basic = 1
use-sibling-linear = 1

[train]
train-file = sample/parser/example-train.conll
holdout-file = sample/parser/example-holdout.conll

max-iter = 1 
algorithm = pa
model-name = build/parser/example-parser-o2sib
rare-feature-threshold = 0
