[train]
train-file = sample/seg/example-train-2.seg
holdout-file = sample/seg/example-holdout.seg
algorithm = pa
customized-model-file = build/cws/example-seg-customized
baseline-model-file = build/cws/example-seg.0.model
max-iter = 5
rare-feature-threshold = 0
enable-incremental-training = 1
