# @package _global_

defaults:
  - _self_
  - datamodule: multi_datamodules.yaml
  - model: multi_model.yaml
  - logger: null
  - trainer: default.yaml
  - paths: default.yaml
  - extras: default.yaml
  - hydra: default.yaml

task_name: "eval"

tags: ["dev"]

# passing checkpoint path is necessary for evaluation
ckpt_path: ???
